#coffee {
    background-color: #ff8882b0;
}

#seas-menu {
    max-width: 450px;
    height: auto;
}

#menu_pic {
max-width: 600px;
height: auto;
}
@media (min-width:771px){
    #menu_pic {
        max-width: 80%;
    }
}
@media (max-width:770px){
      #menu_pic {
        max-width: 100%;
    }
}
.blubb {
    background-color: #d9ddfb !important;
}
