#coffee {
    background-color: #ff8882b0;
}

#seas-menu {
    max-width: 450px;
    height: auto;
}

#menu_pic {
max-width: 600px;
height: auto;
}
@media (max-width:481px){
    #menu_pic {
        max-width: 50%;
    }
}
