#emp-apply {
    /* background: linear-gradient(#ff8882b0, #8390FA25); */
    background-color: #8390FA25;
    border-bottom: 3px solid darkgrey;
    padding-top: 5px;
}

.kay {
    border-radius: 48%;
    border: 4px solid rgb(145, 145, 145);
    max-width: 400px;
    height: auto;
}
.stac {
    max-width: 400px;
    height: auto;
    border-radius:50%;
    border: 4px solid rgb(145, 145, 145);
}

@media (max-width: 440px) {
    .kay {
        border-radius: 48%;
        border: 4px solid rgb(145, 145, 145);
        max-width: 250px;
        height: auto;
    }
    .stac {
        max-width: 250px;
        height: auto;
        border-radius:50%;
        border: 4px solid rgb(145, 145, 145);
    }

}
#con {
    text-decoration: line-through;
}
